<footer>
  <p mt-8 text-xs op-30>
    <span pr-1 style="color:red; font-weight:bold;">点击我们有惊喜--></span>
    <span px-1>| </span>
    <a
      b-slate-link
      href="QQ 群.jpeg" alt="QQ交流群" target="_blank"
    >
      QQ 交流群：797479296
    </a>
    <span px-1> | </span>
    <a
      b-slate-link
      href="公众号二维码.jpg" alt="公众号二维码" target="_blank"
    >
      公众号：javastarboy
    </a>
  </p>
  <p mt-2 text-xs op-30>
    <a
      b-slate-link
      href="星球优惠券10元.png" alt="星球包教包会，10分钟部署网站" target="_blank"
    >
      源码(包教包会) 
    </a>

    <span px-1>|</span>
     <a
      b-slate-link
      href="微信收款码.jpeg" alt="打赏支持" target="_blank"
    >
      打赏支持
    </a>
    
   <span px-1>|</span>
     <a
      b-slate-link
      href="微信公众号 ChatGPT 对话支持语音消息了.jpeg" alt="微信公众号也支持GPT聊天了" target="_blank"
    >
      公众号·GPT
    </a>
    
    <span px-1>|</span>
    <a
      b-slate-link
      href="星球优惠券10元.png" alt="星球优惠券10" target="_blank"
    >
      Based on OpenAI API (gpt-3.5-turbo)
    </a>
  </p>
</footer>
