<footer>
  <p mt-8 text-xs op-30>
    <span pr-1 style="color:red; font-weight:bold;">点击我们有惊喜--></span>
    <span px-1>| </span>
    <a
      b-slate-link
      href="微信交流群.png" alt="微信交流群" target="_blank"
    >
      微信交流群（点我进AI2.0实验室）
    </a>
    <span px-1>|</span>
     <a
      b-slate-link
      href="微信公众号 ChatGPT 对话支持语音消息了.jpeg" alt="微信公众号也支持GPT聊天了" target="_blank"
    >
      公众号·GPT效果
    </a>
  </p>
  <p mt-2 text-xs op-30>
    <a
      b-slate-link
      href="https://mp.weixin.qq.com/s/sAVnzvxKYgA4YWaToqSwSg" alt="星球包教包会，10分钟部署网站" target="_blank"
    >
      源码(包教包会) 
    </a>

    <span px-1>|</span>
     <a
      b-slate-link
      href="星球课程持续更新中.png" alt="星球课程持续更新中" target="_blank"
    >
      课程示例（每日更新）
    </a>
    
    <span px-1>|</span>
    <a
      b-slate-link
      href="星球优惠券10元.png" alt="星球优惠券10" target="_blank"
    >
      Based on OpenAI API (gpt-3.5-turbo-0613)
    </a>
  </p>
  <p mt-2 text-xs op-30>
    <a
      b-slate-link
      href="微信收款码.jpeg" alt="打赏支持" target="_blank"
    >
      免费开放不易，这个工具每天为大家提供服务都要消耗 6$ 成本，如果可以给个赞助吧，感谢~
    </a>
  </p>
</footer>
