---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <!-- <Logo /> -->
    <img src="javastarboy-绿色.png" alt="javastarboy" width="75" height="65" />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT</span>
    <span class="gpt-subtitle">Javastarboy</span>
  </div>
  <p mt-1 op-60>
    <a
      b-slate-link
      href="宣传海报.png" alt="宣传海报" target="_blank"
    >
    感兴趣的小伙伴，欢迎加入交流社群（点我）~
    </a>
  </p>
  <p mt-1 op-60>
    <a
      b-slate-link
      href="公众号二维码.jpg" alt="公众号二维码" target="_blank"
    >
    公众号也集成了GPT，支持文本、语音提问，快来试试吧~
    </a>
  </p>
</header>
