---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <!-- <Logo /> -->
    <img src="javastarboy-绿色.png" alt="javastarboy" width="75" height="65" />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT</span>
    <span class="gpt-subtitle">Javastarboy</span>
  </div>
  <p mt-1 op-60>
    <a
      b-slate-link
      href="星球优惠券10元" alt="星球优惠券10元" target="_blank"
    >
    感兴趣的小伙伴，欢迎加入交流社群（点我）~
    </a>
  </p>
</header>
